@using Pwa.FrameWork.Dao.EF.Smart1662;
@using Pwa.FrameWork.Bal.Smart1662;
@using Pwa.FrameWork.Dto.Smart1662;
@using Pwa.FrameWork.Dto;
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ItemDto> AllItem = (List<ItemDto>)ViewBag.AllItem;
    List<ItemDto> ItemCenter = (List<ItemDto>)ViewBag.ItemCenter;


    List<DropDownlistDto> Unit = (List<DropDownlistDto>
)ViewBag.Unit;
}

<div class="panel panel-primary panel-line">

    <!-- Contacts Content Header -->
    <div class="panel-heading">
        <h1 class="panel-title">ข้อมูลพื้นฐาน  > วัสดุอุปกรณ์ สาขา/เขต</h1>
        <div class="page-header-actions">
            <form></form>
        </div>
    </div>

    <!-- Contacts Content -->
    <div id="contactsContent" class="panel-body" data-plugin="selectable">

        <!-- Actions -->
        <div class="page-content-actions">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="pt-3">กปภ.สาขา</label>
                        <div class="form-group ">
                            <select tabindex="-98" class="search_Branch select2" name="search_Branch" id="search_Branch">
                                <option value="xxxxxxxxxx">เลือก กปภ.</option>
                                @foreach (DropDownlistDto obj in ViewBag.OwnerBranch)
                                {
                                    if (@obj.Value != "1001")
                                    {
                                        <option value="@obj.Value" data="@obj.Id" @(obj.Value == (ViewBag.OwnerBaCode != null ? ViewBag.OwnerBaCode : "") ? "selected" : "")>@obj.Text</option>

                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="pt-3">สถานะ</label>
                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98" name="search_status" id="search_status">
                            <option value="">ทุกสถานะ</option>
                            <option value="1">ใช้งาน</option>
                            <option value="0">ไม่ใช้งาน</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="form-group ">
                        <label class="pt-3">รหัสอุปกรณ์</label>
                        <input type="text" class="form-control" name="search_ItemCode" id="search_ItemCode" placeholder="" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group ">
                        <label class="pt-3">ชื่ออุปกรณ์</label>
                        <input type="text" class="form-control" name="search_ItemName" id="search_ItemName" placeholder="" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-outline btn-primary btnSearch">ค้นหา</button>
                        @*<button type="button" class="btn btn-outline btn-default">ยกเลิก</button>*@
                    </div>
                </div>

            </div>
        </div>


        <!-- Contacts -->
        <div class="table-responsive divTable">
            <table class="table is-indent tblDisplay" id="tblDisplay" name="tblDisplay" data-plugin="animateList" data-animate="fade" data-child="tr"
                   data-selectable="selectable">
                <thead>
                    <tr>
                        <th scope="col">รหัสอุปกรณ์</th>
                        <th scope="col">ชื่ออุปกรณ์</th>
                        <th scope="col">ราคา(บาท)</th>
                        <th scope="col">หน่วย</th>
                        <th scope="col">สถานะ</th>
                        <th scope="col">UpdatedDate</th>
                        <th scope="col">UpdatedBy</th>
                        <th scope="col"></th>
                        @*<th scope="col"></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ss in AllItem)
                    {
                        var year = Convert.ToInt32(ss.UpdatedDate.Split('/')[2]);
                        if (year < 2500)
                        {
                            year = year + 543;
                        }
                        var UpdatedDate = ss.UpdatedDate.Split('/')[0] + '/' + ss.UpdatedDate.Split('/')[1] + '/' + year;// + ' ' + ss.UpdatedTime;
                        <tr data-url="panel.tpl">
                            <td>@ss.ItemCode</td>
                            <td>@ss.ItemName</td>
                            <td>@(ss.Price == null ? "" : ss.Price)</td>
                            <td>@ss.UnitName</td>
                            <td>@(ss.Status == "1" ? "ใช้งาน" : "ไม่ใช้งาน") </td>
                            <td>@ss.UpdatedDate</td>
                            <td>@ss.UpdatedByName</td>
                            <td>
                                <button type="button" data="@ss.ItemId" class="btn btn-floating btn-success btn-sm btnEdit"><i class="icon wb-pencil" aria-hidden="true"></i></button>
                            </td>
                            @*<td>
                                <button type="button" data="@ss.ItemId"  class="btn btn-floating btn-danger btn-sm btnDelete"><i class="icon wb-close" aria-hidden="true"></i></button>
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <hr style="height:2px;border-width:0;color:#3e8ef7;background-color:#3e8ef7;">
        <br />

        <div class="page-content-actions">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="pt-3">รหัส-ชื่ออุปกรณ์</label>
                            <div class="form-group ">
                                <select tabindex="-98" class="add_ItemName" name="add_ItemName" id="add_ItemName">
                                    <option value="">เลือกวัสดุอุปกรณ์</option>
                                    @foreach (ItemDto obj in ViewBag.ItemCenter)
                                    {
                                    <option value="@obj.ItemCode" Price="@obj.Price" Unit="@obj.UnitId" ItemName="@obj.ItemName">@obj.ItemCode - @obj.ItemName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="form-group ">
                            <label class="pt-3">ราคา(บาท)</label>
                            <input type="text" class="form-control" id="Add_Price" name="Add_Price" placeholder="" value="" />
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="form-group">
                            <label class="pt-3">หน่วย</label>
                            <select class="Add_Unit" tabindex="-98" name="Add_Unit" id="Add_Unit">
                                <option value="">เลือกหน่วย</option>
                                @foreach (DropDownlistDto obj in ViewBag.Unit)
                                {
                                    <option value="@obj.Value">@obj.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="form-group" id="addstatus">
                            <label class="pt-3">ใช้งาน</label>
                            <br />
                            <input type="checkbox" id="Add_Status" name="Add_Status"
                                   data-color="#17b3a3" class="switchery js-switch" checked />
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <br />
                        <div class="form-group">
                            <button class="btn btn-primary btnAdd" type="submit">เพิ่มวัสดุอุปกรณ์</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</div>


<div class="modal fade" id="InputForm" aria-hidden="true" aria-labelledby="InputForm"
     role="dialog">
    <div class="modal-dialog modal-primary  modal-simple modal-md">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">บันทึก</h4>
            </div>
            <div class="modal-body" style="background-color:#f1f4f5;padding-top:10px">
                <div class="panel panel-primary panel-line">
                    <div class="panel-heading">
                        <div class="panel-title">อุปกรณ์</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group ">
                                    <label class="pt-3">รหัสอุปกรณ์</label>
                                    <input type="text" class="form-control" id="tb_ItemCode" name="tb_ItemCode" placeholder="" value="" readonly />
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group ">
                                    <label class="pt-3">ชื่ออุปกรณ์</label>
                                    <input type="text" class="form-control" id="tb_ItemName" name="tb_ItemName" placeholder="" value="" readonly />
                                </div>
                            </div>

                            <div class="col-md-2 col-lg-2">
                                <div class="form-group" id="cbstatus">
                                    <label class="pt-3">ใช้งาน</label>
                                    <br />
                                    <input type="checkbox" id="cb_status" name="cb_status"
                                           data-color="#17b3a3" class="switchery js-switch" checked />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group ">
                                    <label class="pt-3">ราคา(บาท)</label>
                                    <input type="text" class="form-control" id="tb_Price" name="tb_Price" placeholder="" value="" />
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label class="pt-3">หน่วย</label>
                                    <select data-plugin="selectpicker" class="selectpicker ddl_Unit" tabindex="-98" name="ddl_Unit" id="ddl_Unit">
                                        <option value="">เลือกหน่วย</option>
                                        @foreach (DropDownlistDto obj in ViewBag.Unit)
                                        {
                                            <option value="@obj.Value">@obj.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group ">
                                    <label class="pt-6">วันที่สร้าง</label>
                                    <input type="text" class="form-control" id="tb_CreatedDate" placeholder="" disabled value="" />
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group ">
                                    <label class="pt-6">ผู้สร้าง</label>
                                    <input type="text" class="form-control" id="tb_CreatedName" placeholder="" disabled value="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group ">
                                    <label class="pt-6">วันที่แก้ไขล่าสุด</label>
                                    <input type="text" class="form-control" id="tb_UpdatedDate" placeholder="" disabled value="" />
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5">
                                <div class="form-group ">
                                    <label class="pt-6">ผู้ที่แก้ไขล่าสุด</label>
                                    <input type="text" class="form-control" id="tb_UpdatedName" placeholder="" disabled value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline btn-primary btnSave" data-dismiss="modal" type="submit">บันทึก</button>
                <a class="btn btn-outline  btn-default" data-dismiss="modal" href="javascript:void(0)">ยกเลิก</a>
            </div>
        </div>
    </div>
</div>

<script>
    var ItemCenter =@Html.Raw(Json.Encode(ItemCenter));
    var Unit =@Html.Raw(Json.Encode(Unit));
    var PageController = {

        init: function (){

            $(document).ready(function () {

                var elem = document.querySelector('.js-switch');
                var init = new Switchery(elem);
                PageController.LoadEvent();
                $("#search_Branch").select2({ maximumSelectionLength: 2, width: '100%' });
                $("#add_ItemName").select2({ maximumSelectionLength: 2, width: '100%' });
                $("#Add_Unit").select2({ maximumSelectionLength: 2, width: '100%' });
                $("#tblDisplay").DataTable({ "searching": false, "bLengthChange": false });

            });
            $(document).on("change", "#add_ItemName", function () {
                $("#Add_Price").val($(this).find('option:selected').attr("Price"));
                PwaManager.PwaSelect2($("#Add_Unit"), Unit, $(this).find('option:selected').attr("Unit"));

            });
    },
        LoadEvent: function ()
        {

             $(document).on("click", ".btnEdit", function () {
                 PwaManager.PwaWaiting(true);
                 PwaManager.PwaPost('@Url.Action("SearchItem", new { controller = "Master" })', { "ItemId": $(this).attr("data") , "ItemCode": "", "ItemName": "", "Status": "", "BaCode": ""  },
                function (data) {
                    PageController.GetEditData(data.Data.lst);
                    PwaManager.PwaWaiting(false);
                }
                , PageController.GetError);
            $("#InputForm").modal({ backdrop: 'static', keyboard: false });
            });
            $(document).on("click", ".btnAdd", function () {

                var dataList = [];

                // ---------------------    validate fields ---------------------------------//
                //if (!validate1 || !validate2) return false;
                // ---------------------    validate fields ---------------------------------//

                var row = $(this);

                var dataDetail = {};
                dataDetail.ItemId = "";
                dataDetail.Action = "I";
                dataDetail.ItemCode = $("#add_ItemName").val();
                dataDetail.ItemName = $("#add_ItemName").find('option:selected').attr("ItemName");
                dataDetail.Price = $("#Add_Price").val();
                dataDetail.UnitId = $("#Add_Unit").val();
                dataDetail.Status = ($("#Add_Status").is(":checked") ? "1" : "0");
                dataDetail.BaCode = $("#search_Branch").val();
                dataList.push(dataDetail);

                PwaManager.PwaConfirm("บันทึก", "คุณต้องการบันทึกหรือไม่", function (isConfirm) {
                    if (isConfirm) {
                       PwaManager.PwaWaiting(true);

                        PwaManager.PwaPost('@Url.Action("SaveItem", new { controller = "Master" })', { "Requests": dataDetail },
                                function (data) {
                                    PwaManager.PwaWaiting(false);
                                    PageController.GetSuccess(data);
                                    //PageController.SetAddItem(data.Data.lstNonAdd);
                                    swal({
                                            title: "สำเร็จ!",
                                            text: "บันทึกข้อมูลเรียบร้อย!",
                                            timer: 800
                                        });
                                    //PwaManager.PwaSelect2($("#add_ItemName"), data.Data.lstNonAdd);

                                }
                            , PageController.GetError);

                    } else {
                        swal.close();

                    }
                })
            });



            $(document).on("click", ".btnSave", function () {

                var dataList = [];

                // ---------------------    validate fields ---------------------------------//
                var validate1 = false;
                if ($("#tb_ItemCode").val() == "") {
                    validate1 = false;
                    $("#tb_ItemCode").closest('.form-group').addClass('has-error');
                    //return false;
                } else {
                    validate1 = true;
                    $("#tb_ItemCode").closest('.form-group').removeClass('has-error');
                }

                var validate2 = false;
                if ($("#tb_ItemName").val() == "") {
                    validate2 = false;
                    $("#tb_ItemName").closest('.form-group').addClass('has-error');
                    //return false;
                } else {
                    validate2 = true;
                    $("#tb_ItemName").closest('.form-group').removeClass('has-error');
                }


                if (!validate1 || !validate2) return false;
                    // ---------------------    validate fields ---------------------------------//

                var row = $(this);

                var dataDetail = {};
                dataDetail.ItemId = $("#tb_ItemCode").attr("data");
                dataDetail.Action = $("#tb_ItemCode").attr("act");
                dataDetail.ItemCode = $("#tb_ItemCode").val();
                dataDetail.ItemName = $("#tb_ItemName").val();
                dataDetail.Price = $("#tb_Price").val();
                dataDetail.UnitId = $("#ddl_Unit").val();
                dataDetail.Status = ($("#cb_status").is(":checked") ? "1" : "0");
                dataDetail.BaCode = $("#search_Branch").val();
                dataList.push(dataDetail);

                PwaManager.PwaConfirm("บันทึก", "คุณต้องการบันทึกหรือไม่", function (isConfirm) {
                    if (isConfirm) {
                       PwaManager.PwaWaiting(true);

                        PwaManager.PwaPost('@Url.Action("SaveItem", new { controller = "Master" })', { "Requests": dataDetail },
                                function (data) {

                                    PwaManager.PwaWaiting(false);
                                    PageController.GetSuccess(data);
                                    swal(
                                        {
                                            title: "สำเร็จ!",
                                            text: "บันทึกข้อมูลเรียบร้อย!",
                                            timer: 800
                                        });
                                }
                            , PageController.GetError);

                    } else {
                        swal.close();

                    }
                })

            });
            $(document).on("click", ".btnDelete", function () {

                var row = $(this);

                var dataDetail = {};
                dataDetail.ItemId = $(this).attr("data");
                dataDetail.Action = "D";

                PwaManager.PwaConfirm("บันทึก", "คุณต้องการลบข้อมูหรือไม่", function (isConfirm) {
                    if (isConfirm) {
                       PwaManager.PwaWaiting(true);

                        PwaManager.PwaPost('@Url.Action("SaveItem", new { controller = "Master" })', { "Requests": dataDetail },

                                function (data) {

                                    PwaManager.PwaWaiting(false);
                                    PageController.GetSuccess(data);
                                    swal(
                                        {
                                            title: "สำเร็จ!",
                                            text: "บันทึกข้อมูลเรียบร้อย!",
                                            timer: 800
                                        });
                                }
                            , PageController.GetError);

                    } else {
                        swal.close();

                    }
                })

            });

            $(document).on("click", ".btnSearch", function () {
                Waiting(true);
                var dataDetail = {};
                var ItemCode = $("#search_ItemCode").val();
                var ItemName = $("#search_ItemName").val();
                var Status = $("#search_status").val();
                var BaCode = $("#search_Branch").val();

                PwaManager.PwaPost('@Url.Action("SearchItem", new { controller = "Master" })', { "ItemId": "", "ItemCode": ItemCode, "ItemName": ItemName, "Status": Status, "BaCode": BaCode }, PageController.GetSuccess, PageController.GetError);
                setTimeout(function () {
                    Waiting(false);
                }, 1000);

            });
        },
        GetError: function(error) {
            alert('Failed : ' + error.responseJSON.Message);
            swal.close();
            PwaManager.PwaWaiting(false);
        },


        GetEditData: function(jsonData) {
            var dvstatus = $("#cbstatus");
            dvstatus.empty();
            var cb = '<label class="pt-3">ใช้งาน</label><br/>';

            $.each(jsonData, function (index, i) {
                $("#tb_ItemCode").val(i.ItemCode);
                $("#tb_ItemCode").removeAttr("data", "");
                $("#tb_ItemCode").attr("data", i.ItemId);
                $("#tb_ItemCode").attr("act", "U");
                $("#tb_ItemName").val(i.ItemName);
                $("#tb_Price").val(i.Price);
                //$("#ddl_Unit").val(jsonData.UnitName);
                $('select[name=ddl_Unit]').val(i.UnitId);
                $('.selectpicker').selectpicker('refresh');
                cb += '<input type="checkbox" id="cb_status" name="cb_status" data-color="#17b3a3" class="js-switch"' + (i.Status == "1" ? "Checked" : "") + '/>';

                $("#tb_CreatedDate").val(i.CreatedDate);
                $("#tb_CreatedName").val(i.CreatedByName);
                $("#tb_UpdatedDate").val(i.UpdatedDate);
                $("#tb_UpdatedName").val(i.UpdatedByName);
            });
            dvstatus.append(cb);

        },
        AddNew: function() {
            var dvstatus = $("#cbstatus");
            dvstatus.empty();
            var cb = '<label class="pt-3">ใช้งาน</label><br/>';
            $("#tb_ItemCode").val("");
            $("#tb_ItemCode").removeAttr("data", "");
            $("#tb_ItemCode").attr("act", "I");
            $("#tb_ItemName").val("");
            $("#tb_Price").val("");
            $('select[name=ddl_Unit]').val("");
            $('.selectpicker').selectpicker('refresh');
            cb += '<input type="checkbox" id="cb_status" name="cb_status" data-color="#17b3a3" class="js-switch" Checked />';
            dvstatus.append(cb);
            $("#tb_CreatedDate").val("");
            $("#tb_CreatedName").val("");
            $("#tb_UpdatedDate").val("");
            $("#tb_UpdatedName").val("");
        },

         GetSuccess: function(jsonData) {
             var html = "";
             $('.divTable').empty();

             html += '<table class="table is-indent tblDisplay" id="tblDisplay" name="tblDisplay" data-plugin="animateList" data-animate="fade" data-child="tr" data-selectable="selectable">';
             html += '<thead>';
             html += '<tr>';
             html += '<th class="" scope="col">รหัสอุปกรณ์</th>';
             html += '<th class="" scope="col">ชื่ออุปกรณ์</th>';
             html += '<th scope="col" class="">ราคา(บาท)</th>';
             html += '<th class="" scope="col">หน่วย</th>';
             html += '<th scope="col" class="">สถานะ</th>';
             html += '<th scope="col" class="">UpdatedDate</th>';
             html += '<th scope="col" class="">UpdatedBy</th>';
             html += '<th scope="col" class=""></th>';
             //html += '<th scope="col" class=""></th>';
             html += '</tr>';
             html += '</thead>';
             html += '<tbody>';
             $.each(jsonData.Data.lst, function (index, item) {
                html += '<tr data-url="panel.tpl">';
                html += '<td>' + item.ItemCode + '</td>';
                html += '<td>' + item.ItemName + '</td>';
                html += '<td>' + (item.Price == null ? "" : item.Price) + '</td>';
                html += '<td>' + item.UnitName + '</td>';
                html += '<td>' + (item.Status == "1" ? "ใช้งาน" : "ไม่ใช้งาน") + '</td>';
                html += '<td>' + item.UpdatedDate + '</td>';
                html += '<td>' + item.UpdatedByName + '</td>';
                html += '<td><button type="button" data="' + item.ItemId + '" class="btn btn-floating btn-success btn-sm btnEdit"><i class="icon wb-pencil" aria-hidden="true"></i></button></td>';
                //html += '<td><button type="button" data="' + item.ItemId + '" class="btn btn-floating btn-danger btn-sm btnDelete"><i class="icon wb-pencil" aria-hidden="true"></i></button></td>';
                html += '</tr>';
            });
             html += '</tbody>';
             html += '</table>';
             $('.divTable').append(html);
             $('.divTable table').DataTable({ "searching": false, "bLengthChange": false });

             PageController.SetAddItem(jsonData.Data.lstNonAdd);

        },
        SetAddItem: function (jsonData) {
            var add_ItemName = $("#add_ItemName");
            add_ItemName.empty();
            var html = '<option value="">เลือกวัสดุอุปกรณ์</option>';
            $.each(jsonData, function (index, item) {
                html += '<option value="' + item.ItemCode + '" Price="' + item.Price + '" Unit="' + item.UnitId + '" ItemName="' + item.ItemName + '">' + item.ItemCode + ' - ' + item.ItemName+'</option > ';
            });
            add_ItemName.append(html);
            $('.select2').selectpicker('refresh');
        },
        Set_AddUnit: function (UnitId) {
            PwaManager.PwaPost('@Url.Action("GetBranchItemSet", new { controller = "Master" })', { "id": BrId },
            function (data) {
                var search_Template = $("#search_Template");
                search_Template.empty();
                var op = '<option value="">เลือก Template</option>';
                $.each(data, function (index, i) {
                    op += '<option value="' + i.SetID + '">' + i.SetName + '</option>';
                });
                search_Template.append(op);
                $('.select2').selectpicker('refresh');
                }, PageController.GetError);
        }


    }

    PageController.init();






</script>

