
@{
    /**/

    /**/

    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <!--   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <script src="@Url.Content("~/Scripts/Build/IncidentCaseReceive/bundle.js")"></script>
        -->

}

<script type="text/javascript">

        var _incidentTypes = @Html.Raw(Json.Encode(ViewBag.IncidentTypes)) ;
</script>

<style>


    #mapid {
        height: 600px;
        width: 100%;
    }

    .tab-content {
        padding-top: 15px;
    }
</style>
<div class="row" data-plugin="matchHeight" data-by-row="true">
    <div class="col-xxl-12">


        <!-- Contacts Content -->
        <div class="panel panel-primary panel-line">

            <!-- Contacts Content Header -->
            <div class="panel-heading">
                <h1 class="panel-title">รายการร้องเรียน > เพิ่ม/แก้ไข </h1>
                <div class="page-header-actions">

                </div>
            </div>

            <!-- Contacts Content -->
            <div class="panel-body" data-plugin="selectable">

                <!-- Actions -->
                <div class="page-content-actions">

                    <div class="panel" id="frmReceiveIncident">
                        <div class="panel-heading">
                            <div class="panel-title">ผู้แจ้ง</div>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <select class="selectpicker" ย tabindex="-98">
                                            <option>นาย</option>
                                            <option>นาง</option>
                                            <option>นางสาว</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" name="name" placeholder="ชื่อ-นามสกุล" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" name="name" placeholder="รหัสผู้ใช้น้ำ" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Line" placeholder="เบอร์โทรศัพท์" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <select class="selectpicker" ย tabindex="-98">
                                            <option>จังหวัด</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <select class="selectpicker" ย tabindex="-98">
                                            <option>อำเภอ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <select class="selectpicker" ย tabindex="-98">
                                            <option>ตำบล</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <textarea type="text" class="form-control" name="desc" placeholder="ที่อยู่"></textarea>
                                    </div>

                                </div>


                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <select class="selectpicker" ย tabindex="-98">
                                            <option>ช่องทางการแจ้ง</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Line" placeholder="อีเมล" />
                                    </div>
                                </div>
                            </div>








                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">การรับแจ้งร้องเรียน</div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">



                                        @Html.DropDownList("IncidentTypes", (IEnumerable<SelectListItem>)ViewBag.IncidentTypes, new { @class = "selectpicker", @tabindex = "-98", @data_plugin = "selectpicker", @v_model = "Incident.PwaIncidentTypeID" })

                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" name="name" placeholder="เลขที่รับแจ้ง" v-model="PwaIncidentNo" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" placeholder="ผู้รับแจ้ง" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="input-group">

                                            <input type="text" class="form-control datetime" placeholder="วันที่รับแจ้ง" data-plugin="datepicker" v-model="ReceivedCaseDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                            <input type="text" class="form-control" v-model="CompletedCaseDate">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">

                                        @Html.DropDownList("IncidentGroups", (IEnumerable<SelectListItem>)ViewBag.IncidentGroups, new { @class = "selectpicker", @tabindex = "-98", @data_plugin = "selectpicker", @v_model = "PwaIncidentGroupID" })
                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        @Html.DropDownList("InformChannels", (IEnumerable<SelectListItem>)ViewBag.InformChannels, new { @class = "selectpicker", @tabindex = "-98", @data_plugin = "selectpicker", @v_model = "PwaInformChannel" })
                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" placeholder="อีเมล" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="input-group">

                                            <input type="text" class="form-control datetime" placeholder="วันเวลาที่เสร็จ" data-plugin="datepicker">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                            <input type="text" class="form-control" value="09:30">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98">
                                            <option>หัวข้อการร้องเรียน</option>


                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <input type="checkbox" class="icheckbox-primary" id="inputUnchecked" name="inputiCheckCheckboxes"
                                               data-plugin="iCheck" data-checkbox-class="icheckbox_flat-blue" />
                                        <label for="inputUnchecked">ยกเว้น SLA</label>
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="เหตุผล" />
                                    </div>
                                </div>

                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="วัน/ชั่วโมง/นาที" />
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="หัวข้อ" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="กปภ.สาขา" />
                                    </div>

                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98">
                                            <option>สถานะ</option>


                                        </select>

                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3">

                                    <div class="input-group">
                                        <input type="text" class="form-control" name="address" placeholder="สถานที่เกิดเหตุ" />
                                        <img src="~/Content/assets/images/map.png" style="height:2.573rem"  class="btnAddMap" />
                                    </div>
                             

                                </div>
                              


                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">รายละเอียดเรื่องรับแจ้ง</div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">

                                    <div class="panel panel-danger panel-line" style="border:0.5px solid #ff4c52">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">รายละเอียดเรื่องรับแจ้ง</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <div class="example example-responsive">
                                                        <textarea type="text" class="form-control marker"
                                                                  data-iconlibrary="fa"
                                                                  name="address" placeholder="รายละเอียด"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12 col-lg-12">
                                                <label class="file-upload btn btn-info btn-outline">
                                                    เลือกไฟล์... <input type="file" id="file1" />
                                                </label>
                                               
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">

                                    <div class="panel panel-success panel-line" style="border:0.5px solid #11c26d">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">การแก้ไขปัญหา</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="example example-responsive">
                                                    <textarea type="text" class="form-control marker"
                                                              data-iconlibrary="fa"
                                                              name="address" placeholder="รายละเอียด"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="ผู้บันทึก" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="icon wb-calendar" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" class="form-control datetime" placeholder="วันที่บันทึก" data-plugin="datepicker">
                                        </div>
                                    </div>

                                </div>




                            </div>
                        </div>
                    </div>

                </div>
             
            </div>
        </div>
    </div>
</div>

<div class="modal modal-primary  fade" id="mdAddCustomer" aria-hidden="true" aria-labelledby="mdAddCustomer"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-simple">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title"> ผู้แจ้งร้องเรียน</h4>
            </div>
            <div class="modal-body" style="padding-top:10px">

                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <select data-plugin="selectpicker" class="selectpicker" ย tabindex="-98">
                                <option>นาย</option>
                                <option>นาง</option>
                                <option>นางสาว</option>
                            </select>

                        </div>

                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group ">
                            <input type="text" class="form-control" name="name" placeholder="ชื่อ" />
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-5">
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" placeholder="นามสกุล" />
                        </div>
                    </div>




                </div>
                <div class="row">

                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Line" placeholder="เบอร์โทร" />
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" placeholder="รหัสผู้ใช้น้ำ" />
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" placeholder="รหัสมิเตอร์" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <textarea type="text" class="form-control" name="desc" placeholder="ที่อยู่"></textarea>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="submit">Save</button>
                <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-primary  fade" id="mdMap" aria-hidden="true" aria-labelledby="mdMap"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-simple">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">เลือกพื้นที่ผลกระทบ</h4>
            </div>
            <div class="modal-body" style="padding-top:10px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-search">
                                <input type="text" class="input-block-level form-control" name="" placeholder="ค้นหาพื้นที่...">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="mapid"></div>
                    </div>
                </div>

                </div>
            </div>
    </div>
            <script>
                var locationSearch = [
                    "ActionScript",
                    "AppleScript",
                    "Asp",
                    "BASIC",
                    "C",
                    "C++",
                    "Clojure",
                    "COBOL",
                    "ColdFusion",
                    "Erlang",
                    "Fortran",
                    "Groovy",
                    "Haskell",
                    "Java",
                    "JavaScript",
                    "Lisp",
                    "Perl",
                    "PHP",
                    "Python",
                    "Ruby",
                    "Scala",
                    "Scheme"
                ];

                var map = L.map('mapid').setView([13, 100], 6);

                $(document).ready(function () {

                    LoadMap();

                    $(".txtSearchLocation").autocomplete({
                        source: locationSearch
                    });

                    $('#mdMap').on('show.bs.modal', function () {
                      
                    })


                    $(".marker").markdown({
                        autofocus: false,
                        height: 120,
                        iconlibrary: 'fa',
                        onShow: function (e) {
                            //e.hideButtons('cmdPreview');
                            e.change(e);
                        }
                    });
                    $(".datetime").datepicker()
                    $('.clockpicker').clockpicker();
                    $(IncidentMenu).addClass("active");

                    $(".btnAddCustomer").on("click", function () {
                        $("#mdAddCustomer").modal("show");
                    })


               
                });
                $(document).on("show.bs.modal", "#mdMap", function () {
                    setTimeout(function () {
                        document.getElementById('mdMap').style.display = 'block';
                        map.invalidateSize();
                    }, 10);
                });
                $(document).on("click", ".btnAddMap", function () {
                    $("#mdMap").modal("show");

                });
                function LoadMap() {


                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.marker([13.756, 100.2018]).addTo(map)
                        .bindPopup("<b>สาขา แจ้งวัฒนะ!</b><br />ที่อยู่.....").openPopup();
                    L.marker([13.256, 100.2018]).addTo(map)
                        .bindPopup("<b>สาขา รังสิต!</b><br />ที่อยู่.....").openPopup();
                }

            </script>
