@using Pwa.FrameWork.Dao.EF.Smart1662;
@using Pwa.FrameWork.Dto.Smart1662.Incident;
@using Pwa.FrameWork.Dto.Smart1662;
@using Pwa.FrameWork.Dto;

@{
    ViewBag.Title = "งานร้องเรียน";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //List<IncidentDto> dataList = (List<IncidentDto>)ViewData["GetData"];
    List<IncidentDto> dataList = new List<IncidentDto>();

}

<script>
    var GetDataUrl = '@Url.Action("GetData", "Complaint")'
    var ReceiveUrl = '@Url.Action("Edit", "Incident")'
    var FollowUpUrl = '@Url.Action("FollowUp", "Incident")'
</script>

<style>
    #mapid {
        height: 250px;
        width: 100%;
    }
</style>

<!-- Page -->
<form id="frmComplaint" method="post" action="@Url.Action("Search", "Complaint")">
    <input type="hidden" id="hddSelectedInc" name="hddSelectedInc" />
    <div class="row" data-plugin="matchHeight" data-by-row="true">
        <div class="col-xxl-12">
            <div class="example example-buttons pull-right">
                <div class="btn-group btn-group ">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline btn-warning btnStatus" statusdata="2">
                            <i class="icon wb-inbox" aria-hidden="true"></i>  <span class="text-uppercase hidden-sm-down">รอรับเรื่อง</span>
                            <br>
                            <span class="text-uppercase hidden-sm-down lbWaiting"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline btn-info btnStatus" statusdata="3">
                            <i class="icon wb-folder" aria-hidden="true"></i>  <span class="text-uppercase hidden-sm-down">กำลังดำเนินการ</span>
                            <br>
                            <span class="text-uppercase hidden-sm-down lbProcess"></span>
                        </button>
                    </div>
                    <div class="btn-group invisible" role="group">
                        <button type="button" class="btn btn-outline btn-success btnStatus" statusdata="1">
                            <i class="icon wb-folder" aria-hidden="true"></i>  <span class="text-uppercase hidden-sm-down">เสร็จแล้ว</span>
                            <br>
                            <span class="text-uppercase hidden-sm-down lbSuccess"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-12">
            <!-- Contacts Content -->
            <div class="panel panel-primary panel-line">
                <!-- Contacts Content Header -->
                <div class="panel-heading">
                    <h1 class="panel-title">กปภ.สาขา > ร้องเรียน</h1>
                    <div class="page-header-actions">

                    </div>
                </div>

                <!-- Contacts Content -->
                <div id="contactsContent" class="panel-body" data-plugin="selectable">

                    <!-- Actions -->
                    <div class="page-content-actions">
                        <div class="row">

                            <div class="col-md-3 col-lg-3">
                                <div class="form-group ">
                                    <label class="pt-3">เลขที่รับแจ้ง</label>
                                    <input type="text" class="form-control" id="txtIncidentNo" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="pt-3">ชื่อ-นามสกุล</label>
                                    <input type="text" class="form-control" id="txtCustomerName" placeholder="" />
                                </div>
                            </div>

                            <div class="col-md-5 col-lg-5">
                                <div class="form-group">
                                    <label class="pt-3">ติดต่อ</label>
                                    <div class="input-group">
                                        <span class="input-group-btn" style="padding:0; width:35%">
                                            <select class="selectpicker" id="selContact" tabindex="-98">
                                                <option>เบอร์โทร</option>
                                                <option>อีเมล</option>
                                            </select>
                                        </span>
                                        <input type="text" placeholder="รายละเอียดการติดต่อ" class="form-control" id="txtContactDetail" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="pt-3">หัวข้อร้องเรียน</label>
                                    <input type="text" class="form-control" id="txtComplainTitle" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="pt-3">รายละเอียด</label>
                                    <input type="text" class="form-control" id="txtDetail" placeholder="" />
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-3">
                                <label class="pt-3">สถานะ</label>
                                <div class="form-group">
                                    <select data-plugin="selectpicker" id="ddlStatus" name="ddlStatus" class="selectpicker" tabindex="-98">
                                        <option value="">ทั้งหมด</option>
                                        <option value="2">รอรับเรื่อง</option>
                                        <option value="4">เสร็จแล้ว</option>
                                        <option value="3">ยังไม่เสร็จ</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="pt-3">&nbsp;</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datetime" id="txtReceiveDateStart" name="txtReceiveDateStart" placeholder="วันที่รับแจ้ง" data-plugin="datepicker">
                                        <span class="input-group-addon">
                                            <i class="icon wb-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="pt-3">&nbsp;</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control date" id="txtReceiveDateEnd" name="txtReceiveDateEnd" placeholder="ถึงวันที่รับแจ้ง" data-plugin="datepicker">
                                        <span class="input-group-addon">
                                            <i class="icon wb-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 col-lg-5">
                                <label class="pt-3">บริเวณที่เกิดเหตุ</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtIncidentAddress" placeholder="" />
                                    <img src="~/Content/assets/images/map.png" style="height:2.573rem; margin-left:8px;" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <button type="button" class="btn  btn-success btnAddRepaire">รับงานซ่อม</button>
                                            @*<button type="button" class="btn btn-outline btn-outline-success" onclick="javascript: return onBranchReceive();">รับเรื่อง</button>*@
                                            <button type="button" class="btn  btn-warning" onclick="window.location.href='@Url.Action("Receive", "Incident")';">รับแจ้ง/ร้องเรียน</button>
                                            <button type="button" class="btn btn-outline btn-default" onclick="handleOpenSocialGISCPopup()">Social GISC</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary btnSearch">ค้นหา</button>
                                    <button type="button" class="btn btn-outline btn-default btnReset" data-plugin="btnReset">เริ่มใหม่</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive divResult">
                        <table class="table table-hover" id="tblDisplay">
                            <thead>
                                <tr>
                                    <th class="cell-30" scope="col"></th>
                                    <th class="" scope="col">เลขที่รับแจ้ง</th>
                                    <th class="" scope="col">วันเวลาที่รับแจ้ง</th>
                                    <th class="" scope="col">ชื่อ-นามสกุลผู้รับแจ้ง</th>
                                    <th class="" scope="col">หัวข้อ</th>
                                    <th scope="col" class="">รายละเอียดเรื่องรับแจ้ง</th>
                                    <th class="" scope="col">บริเวณที่เกิดเหตุ</th>
                                    <th class="" scope="col">วันเวลาที่เสร็จสิ้น</th>
                                    <th scope="col" class="">สถานะ</th>
                                    <th scope="col" class=""></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in dataList)
                                {
                                    <tr data-url="panel.tpl" data="@data.PwaIncidentID">
                                        <td class="cell-30">
                                            <span class="checkbox-custom checkbox-primary checkbox-lg">
                                                <input type="checkbox" class="contacts-checkbox selectable-item chkItem chkBranchReceive" data="@data.PwaIncidentID" />
                                                <label for="contacts_1"></label>
                                            </span>
                                        </td>
                                        <td class="">@data.PwaIncidentNo</td>
                                        <td class="">@data.CreatedDate.ToString("dd/MM/yyyy")</td>
                                        <td class="">@data.CustomerName</td>
                                        <td class="">@data.RequestCategorySubject</td>
                                        <td class="">@data.CaseDetail</td>
                                        <td class="">@data.PwsIncidentAddress</td>
                                        <td class="">@Html.Raw(data.CompletedCaseDate.HasValue ? data.CompletedCaseDate.Value.ToString("dd/MM/yyyy") : "")</td>
                                        <td class="">@data.StatusText</td>
                                        @*<td>
                                                <button type="button" data="@data.PwaIncidentNo" class="btn btn-floating btn-warning btn-sm btnFollowUp"><font size="1">ติดตาม</font></button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-floating btn-success btn-sm btnEdit"><i class="icon wb-pencil" aria-hidden="true"></i></button>
                                            </td>*@

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <div class="row">

        <div class="col-xxl-12 col-lg-12">
            <div class="panel panel-primary panel-line">
                <div class="panel-heading">
                    <h3 class="panel-title">ข้อร้องเรียน</h3>
                </div>
                <div class="panel-body">

                    <canvas id="myChart" height="200"></canvas>

                </div>
            </div>

        </div>

    </div>
</form>

<!-- Site Action -->

<div class="site-action" data-plugin="actionBtn">
    @*<button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating">
            <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
            <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
        </button>*@
    <div class="site-action-buttons">
        <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
            <i class="icon wb-trash" aria-hidden="true"></i>
        </button>
        <button type="button" data-action="folder" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
            <i class="icon wb-folder" aria-hidden="true"></i>
        </button>
    </div>
</div>


<!-- Add User Form -->
<div class="modal fade" id="addUserForm" aria-hidden="true" aria-labelledby="addUserForm"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-primary  modal-simple modal-sidebar modal-lg">
        <div class="modal-content">
            <div class="modal-header  ">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">บันทึกแจ้งร้องเรียน</h4>
            </div>
            <div class="modal-body" style="background-color:#f1f4f5;padding-top:10px">
                <form>
                    <div class="panel panel-primary panel-line">
                        <div class="panel-heading">
                            <div class="panel-title"> ผู้แจ้งร้องเรียน</div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" ย tabindex="-98">
                                            <option>นาย</option>
                                            <option>นาง</option>
                                            <option>นางสาว</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" name="name" placeholder="ชื่อ" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" placeholder="นามสกุล" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Line" placeholder="เบอร์โทร" />
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <textarea type="text" class="form-control" name="desc" placeholder="ที่อยู่"></textarea>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="รหัสผู้ใช้น้ำ" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="รหัสมิเตอร์" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary panel-line">
                        <div class="panel-heading">
                            <div class="panel-title">การรับแจ้งร้องเรียน</div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98">
                                            <option>ร้องเรียน</option>
                                            <option>ติดตาม</option>
                                            <option>สอบถาม</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" name="name" placeholder="เลขที่รับแจ้ง" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" placeholder="ผู้รับแจ้ง" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="input-group">

                                            <input type="text" class="form-control datetime" placeholder="วันที่รับแจ้ง" data-plugin="datepicker">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                            <input type="text" class="form-control" placeholder="เวลา" value="">
                                            <!-- <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>-->
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-3- col-lg-3">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98">
                                            <option>ด้านคุณภาพน้ำ</option>
                                            <option>ด้านปริมาณน้ำ</option>

                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98">
                                            <option>ช่องทางการแจ้ง</option> 

                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phone" placeholder="Line ID" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98">
                                            <option>สถานะ</option>


                                        </select>

                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <select data-plugin="selectpicker" class="selectpicker" tabindex="-98">
                                            <option>หัวข้อการร้องเรียน</option>


                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <input type="checkbox" class="icheckbox-primary" id="inputUnchecked" name="inputiCheckCheckboxes"
                                               data-plugin="iCheck" data-checkbox-class="icheckbox_flat-blue" />
                                        <label for="inputUnchecked">ยกเว้น SLA</label>
                                    </div>
                                </div>

                                <div class="col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="เหตุผล" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="หัวข้อ" />
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="กปภ.สาขา" />
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">

                                            <div class="panel panel-danger panel-line" style="border:0.5px solid #ff4c52">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">รายละเอียดเรื่องรับแจ้ง</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <div class="example example-responsive">
                                                            <textarea type="text" class="form-control marker"
                                                                      data-iconlibrary="fa" data-width="400"
                                                                      name="address" placeholder="รายละเอียด"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">

                                            <div class="panel panel-success panel-line" style="border:0.5px solid #11c26d">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">การแก้ไขปัญหา</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-7 col-lg-7">
                                                            <div class="form-group">
                                                                <input type="checkbox" class="icheckbox-primary" id="inputUnchecked" name="inputiCheckCheckboxes"
                                                                       data-plugin="iCheck" data-checkbox-class="icheckbox_flat-green" />
                                                                <label for="inputUnchecked">ดำเนินการเสร็จแล้ว</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 col-lg-4">
                                                            <div class="form-group">
                                                                <div class="input-group">

                                                                    <input type="text" class="form-control datetime" placeholder="วันเวลาที่เสร็จ" data-plugin="datepicker">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-lg-4">
                                                            <div class="form-group">
                                                                <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                                                    <input type="text" class="form-control" value="09:30">
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-time"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-lg-4">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="address" placeholder="วัน/ชั่วโมง/นาที" />
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <form>

                                                            <div class="example example-responsive">
                                                                <textarea class="marker" data-provide="markdown" placeholder="รายละเอียดเรื่องรับแจ้ง" data-iconlibrary="fa" data-width="400"></textarea>
                                                            </div>

                                                        </form>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="address" placeholder="ผู้บันทึก" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control datetime" placeholder="วันที่บันทึก" data-plugin="datepicker">
                                                </div>
                                            </div>

                                        </div>




                                    </div>



                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <textarea type="text" class="form-control" rows="3" style="min-width: 100%" name="address" placeholder="สถานที่เกิดเหตุ"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div id="mapid"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline btn-primary" data-dismiss="modal" type="submit">รับเรื่อง</button>
                <a class="btn  btn-outline btn-default" data-dismiss="modal" href="javascript:void(0)">ล้างหน้าจอ</a>
            </div>
        </div>
    </div>

</div>


<!-- Modal Social GISC -->
<div class="modal fade bd-example-modal-lg" id="Modal_Social_GISC" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-right: 0px;">
    <div class="modal-dialog" role="document" style="max-width: none;margin-left: 50px;margin-right: 50px;">
        <div class="modal-content">
            <div class=""
                 style="background-color: #2196f3;color: white;padding-top: 10px;padding-bottom: 10px;text-align: left;padding-left: 10px;padding-right: 10px;">
                <div class="col-md-6 col-lg-6">
                    <span>
                        <b style="font-size: 1.4375rem;">
                            <svg class="bi bi-file-earmark-check" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor">
                                <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z" />
                                <path fill-rule="evenodd"
                                      d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                            <span class="modal-title" style="font-size: 18.0pt;">Social GISC</span>
                        </b>
                    </span>
                </div>
                <div class="col-md-6 col-lg-6" style="text-align: right;">
                    <span>
                        <a type="button" class="btn btn-close" data-dismiss="modal"
                           style="padding-bottom: 3px;padding-top: 3px;padding-right: 0px;">
                            <svg style="width: 24px;height: 30px;vertical-align: middle;" fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z" />
                            </svg>

                        </a>
                    </span>
                </div>
            </div>
            <div id="div_html_preview" class="modal-body" style="height: 504px;overflow: scroll;">
                <div class="page-content-actions">

                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <div class="form-group ">
                                <label class="pt-3">วันเวลาโพสต์จาก</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datetime"
                                           id="StartDate"
                                           value=""
                                           placeholder="" data-plugin="datepicker">
                                    <span class="input-group-addon " style="width: 40px;">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="form-group">
                                <label class="pt-3">ถึง</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datetime"
                                           id="EndDate"
                                           value=""
                                           placeholder="" data-plugin="datepicker">
                                    <span class="input-group-addon " style="width: 40px;">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="form-group" style="display:none;">
                                <label class="pt-3">แหล่งข้อมูล</label>
                                <select class="selectpicker" id="from">
                                    <option value="">--ทั้งหมด--</option>
                                    @foreach (DropDownlistDto it in ViewBag.SysChannels)
                                    {
                                        @*<option value="@it.Value" @(it.Value == (Model != null ? Model.BranchId : "") ? "selected" : "")>@it.Text </option>*@
                                        <option value="@it.Value">@it.Text </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3" style="margin-top: 32px;">
                            <button type="button" class="btn btn-outline btn-primary btnSearch_Social_GISC" data-plugin="btnSearch_Social_GISC">ค้นหา</button>
                        </div>
                        <div class="col-xxl-12">
                            <!-- Contacts -->
                            <div class="table-responsive divResult_SocialGISC">
                                <table class="table table-hover" id="tblSocialGISC" data-animate="fade" data-child="tr">
                                    <thead>
                                        <tr>
                                            <th class="" scope="col">ลำดับ</th>
                                            <th class="" scope="col">วันที่โพสต์</th>
                                            <th class="" scope="col">ข้อความ</th>
                                            <th class="" scope="col" style="width: 132px;">ประเภทความคิดเห็น</th>
                                            <th class="" scope="col" style="width: 100px;">ผู้โพสต์</th>
                                            <th class="" scope="col">แหล่งข้อมูล</th>
                                            <th class="" scope="col" style="width: 110px;">กปภ. สาขา</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int index = 1;
                                            foreach (var data in dataList)
                                            {
                                                <tr data-url="panel.tpl" data="@data.PwaIncidentID">
                                                    <td class="">@index</td>
                                                    <td class="">@string.Format("{0}/{1}/{2}", data.CreatedDate.Day.ToString("##00"), data.CreatedDate.Month.ToString("##00"), (data.CreatedDate.Year + 543).ToString("####0000"))</td>
                                                    <td class="">@data.CaseDetail</td>

                                                    <td class="">Facebook</td>
                                                    <td class="">@data.CustomerName</td>
                                                    <td class="">@data.RequestCategorySubject</td>

                                                    <td class="">@data.BranchName</td>
                                                </tr>
                                                index++;
                                            }
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="socialGISC_incident" action="@Url.Content("~/Incident/Receive?c=SocialGISC")" method="post" style="display:none;">
    <input type="hidden" class="post_date" name="post_date" />
    <input type="hidden" class="post_by" name="post_by" />
    <input type="hidden" class="post_msg" name="post_msg" />
    <input type="hidden" class="msg_type" name="msg_type" />
    <input type="hidden" class="post_channel" name="post_channel" />
    <input type="hidden" class="ww_code" name="ww_code" />
    <input type="hidden" class="comment_id" name="comment_id" />
</form>

<script src="~/Content/assets/restaurant.geojson.js?ver=4.00"></script>
<script>

    var AddRepaire='@Url.Action("AddRepaire", "Complaint")'
    var map = L.map('mapid').setView([13, 100], 6);
    $(document).ready(function () {
        $("#ddlStatus").select2({ width: '100%' });

        $(ComplaintMenu).find("li:eq(1)").addClass("active");

        $('.divResult table').DataTable({
            "searching": false,
            "order": [[0, "desc"]],
             "bLengthChange": false
        });

        setTimeout(function () {
            $(ComplaintMenu).slideToggle();
        }, 500
        );


        $(".datetime").datepicker();

        $(".marker").markdown({
            autofocus: false,
            height: 120,
            iconlibrary: 'fa',
            onShow: function (e) {
                //e.hideButtons('cmdPreview');
                e.change(e);
            }
        });
        LoadMap();
        LoadChart();
        $(".btnEdit").on("click", function () {
            $("#addUserForm").modal("show");
        });

        $('#addUserForm').on('show.bs.modal', function () {
            setTimeout(function () {
                document.getElementById('addUserForm').style.display = 'block';
                map.invalidateSize();
            }, 10);
        })

        LoadData();
    });
    $(document).on("click", ".btnReset", function () {
        console.log("btnReset click");
        location.reload();
    });

    $(document).on("click", ".btnStatus", function () {

        $("#ddlStatus").val($(this).attr("statusdata")).trigger("change");

        LoadData();

    });


    $(document).on("click", ".btnSearch", function () {
        console.log("btnSearch click")
        LoadData();
    });

    $(document).on("click", ".btnSearch_Social_GISC", function () {
        console.log("btnSearch_Social_GISC click")
        searchSocialGISC();
        //LoadData();
    });

    $(document).on("click", ".btnAddRepaire", function () {
        var objSels = [];
        $('.divResult  table > tbody > tr').each(function () {
            var row = $(this);
            if (row.find(".chkItem").prop("checked")) {
                objSels.push(row.attr("data"));
                // alert(row.attr("data"))
            }
        });

        if (objSels.length > 0) {
            $("#hddSelectedInc").val(objSels.join(","));
            $("#frmComplaint").attr("action", AddRepaire);
            $("#frmComplaint").submit();
        } else {
            swal({
                title: "ทำรายการไม่ถูกต้อง!",
                text: "กรุณาเลือกรายการรับแจ้ง",
                timer: 1500
            });
        }
    });

        $(document).on("click", ".btnFollowUp", function () {
            $("#frmIncident").attr('action', FollowUpUrl + '/' + $(this).closest("tr").attr("data"));
            $("#frmIncident").submit();
        });


 $(document).on("click", ".btnFollowUp", function () {
        $("#frmIncident").attr('action', FollowUpUrl + '/' + $(this).closest("tr").attr("data"));
        $("#frmIncident").submit();
    });

    $(document).on("click", ".btnEdit", function () {
            $("#frmIncident").attr('action', ReceiveUrl + '/' + $(this).closest("tr").attr("data"));
            $("#frmIncident").submit();
        });





    function LoadChart() {
        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['ด้านปริมาณน้ำ', 'ด้านท่อแตกรั่ว', 'ด้านคุณภาพน้ำ', 'ด้านบริการ', 'ด้านบุคลากร'],
                datasets: [{
                    label: 'เดือน พฤษภาคม',
                    data: [50, 70, 30, 24, 65],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },
            responsive: true,
            maintainAspectRatio: false
        });
    }
    function LoadMap() {


        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var editableLayers = new L.FeatureGroup();
        map.addLayer(editableLayers);
        var poiLayers = L.geoJSON(restaurant, {
            onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.city + '<br><b>' + feature.properties.name + '</b>').openPopup();
            }
        });

        L.control.search({
            layer: poiLayers,
            initial: false,
            propertyName: 'name',
            moveToLocation: function (latlng, title, map) {
                //map.fitBounds( latlng.layer.getBounds() );
                var zoom = 12; //map.getBoundsZoom(latlng.layer.getBounds());
                map.setView(latlng, zoom); // access the zoom
            }
        })
            .addTo(map);


        L.circle([13.756, 100.5018], 500, {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5
        }).addTo(map).bindPopup("I am a circle.");

        //L.marker([13.756, 100.2018]).addTo(map)
        //	.bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();



        /*


            L.polygon([
                [51.509, -0.08],
                [51.503, -0.06],
                [51.51, -0.047]
            ]).addTo(map).bindPopup("I am a polygon.");

        */
        var popup = L.popup();


        map.on('click', onMapClick);


        var options = {
            position: 'topright',
            draw: {
                polyline: true,
                polygon: {
                    allowIntersection: false, // Restricts shapes to simple polygons
                    drawError: {
                        color: '#e1e100', // Color the shape will turn when intersects
                        message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                    }
                },

                circle: false, // Turns off this drawing tool
                rectangle: true,
                marker: true
            },

            edit: {
                featureGroup: editableLayers, //REQUIRED!!
                remove: true
            }
        };



        var drawControl = new L.Control.Draw(options);
        map.addControl(drawControl);


        map.on(L.Draw.Event.CREATED, function (e) {
            var type = e.layerType,
                layer = e.layer;

            var lalong = layer.getLatLngs();

            console.log(JSON.stringify(layer.toGeoJSON().geometry.coordinates))

            //alert(JSON.stringify(layer.toGeoJSON().geometry.coordinates))
            if (type === 'marker') {
                layer.bindPopup('A popup!');
            }

            editableLayers.addLayer(layer);
        });

    }
    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);
    }
    function onBranchReceive() {
        window.event.preventDefault();
        var targets = $('.chkBranchReceive:checkbox:checked').map(function () {
            return $(this).attr('data')*1;
        }).get();

        if (targets.length < 1) {
            swal(
                {
                    title: "เลือกข้อมูล!",
                    text: "กรุณาเลือกข้อมูลที่ต้องการ!",
                    timer: 2000
                });
            return false;
        }


        try {
            PwaManager.PwaWaiting(true);
            $.ajax({

                url: getBaseUrl() + '/api/Incident/SetStatusToBranchReceiveCase',
                data: JSON.stringify(targets),
                type: "POST",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (request, status, error) {
                    PwaManager.PwaWaiting(false);
                    alert(request.responseText);
                },
                success: function (data) {
                    $('.chkBranchReceive:checkbox').prop('checked', false);

                    PwaManager.PwaWaiting(false);



                    swal(
                        {
                            title: "สำเร็จ!",
                            text: "บันทึกข้อมูลเรียบร้อย!",
                            timer: 1500
                        });

                    setTimeout(function () {
                        document.location.href = getBaseUrl() + '/Complaint/ComplaintView'
                    }, 1500);
                }
            });

        } catch (e) {
            alert(e.message);
        }

        return false;
    }
    function LoadData() {

        var html = '';

        PwaManager.PwaWaiting(true);
        $('.divResult').empty();
        html += '<table class="table table-hover" id="tblDisplay" data-animate="fade" data-child="tr">';
        html += '<thead>';
        html += '<tr>';
        html += '<th class="cell-30" scope="col"></th>';
        html += '<th class="" scope="col">เลขที่รับแจ้ง</th>';
        html += '<th class="" scope="col">วันเวลาที่รับแจ้ง</th>';
        html += '<th class="" scope="col">ชื่อ-นามสกุลผู้แจ้ง</th>';
        html += '<th class="" scope="col">หัวข้อ</th>';
        html += '<th scope="col" class="">รายละเอียดเรื่องรับแจ้ง</th>';
        html += '<th scope="col" class="">บริเวณที่เกิดเหตุ</th>';
        html += '<th scope="col" class="">วันเวลาที่เสร็จสิ้น</th>';
        html += '<th scope="col" class="">สถานะ</th>';
           html += '<th scope="col" class=""></th>';
        html += '<th scope="col" class=""></th>';
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';

        console.log('Create searchData');

        var searchData = {};
        searchData.PwaIncidentNo = $("#txtIncidentNo").val();
        searchData.CustomerName = $("#txtCustomerName").val();
        searchData.Status = $("#ddlStatus").val();
        searchData.CaseDetail = $("#txtDetail").val();
        searchData.ReceivedCaseDateText = $("#txtReceiveDateStart").val();
        searchData.RequestCategorySubject = $("#txtComplainTitle").val();
        searchData.CompletedCaseDateText = $("#txtReceiveDateEnd").val();
        searchData.PwsIncidentAddress = $("#txtIncidentAddress").val();
        searchData.bUserCurrentBranchNo = "BRANCH";
        //searchData.BranchNo = '1102';
        var selContactIndex = $("#selContact").val();
        if (selContactIndex == "เบอร์โทร") {
            searchData.Telephone = $("#txtContactDetail").val();
        } else {
            searchData.Email = $("#txtContactDetail").val();
        }
        console.log('Done create searchData ' + JSON.stringify(searchData));

        PwaManager.PwaPost(GetDataUrl, searchData, function (data) {

            $(".lbWaiting").text("-");
            $(".lbProcess").text("-");
            $(".lbSuccess").text("-");

            if (data != null) {

                setTimeout(function () {
                    $(".lbWaiting").text(data.filter(o => o.GProcessStage == "2").length);
                    $(".lbProcess").text(data.filter(o => o.GProcessStage == "3").length);
                    $(".lbSuccess").text(data.filter(o => o.GProcessStage == "4").length);

                }, 500
                );




                $.each(data, function (index, item) {
                    html += '<tr data=' + item.PwaIncidentID + '>';
                    html += '<td class="cell-30">';
                    if (item.CanSelect == "1") {
                        html += '<span class="checkbox-custom checkbox-primary checkbox-lg">';
                        html += '<input type="checkbox" class="contacts-checkbox selectable-item chkItem chkBranchReceive" data="' + item.PwaIncidentID + '" />';
                        html += '<label for="contacts_1"></label>';
                        html += '</span>';
                    }
                    html += '</td>';
                    html += '<td>' + item.PwaIncidentNo + '</td>';
                    html += '<td>' + item.ReceivedCaseDateText + '</td>';
                    html += '<td>' + item.CustomerName + '</td>';
                    html += '<td>' + item.RequestCategorySubject + '</td>';
                    html += '<td>' + item.CaseDetail + '</td>';
                    html += '<td>' + item.PwsIncidentAddress + '</td>';
                    html += '<td>' + item.CompletedCaseDateText + '</td>';
                    html += '<td>' + item.StatusText + '</td>';
                    html += '<td><a href = "' + FollowUpUrl + '/' + item.PwaIncidentID + '" target = "_self" class="btn btn-sm btn-floating btn-warning" style="padding:5px !important;" ><font size="1">ติดตาม</font></a></td>';
                    html += '<td><a href = "' + ReceiveUrl + '/' + item.PwaIncidentID + '" target = "_self" class="btn btn-sm btn-floating btn-success"><i class="icon wb-pencil" aria-hidden="true"></i></a></td>';
                    html += '</tr>';
                });
                html += '</tbody>';
                html += '</table>';
                html += ' </div>';
                $('.divResult').append(html);
                $('.divResult table').DataTable({ "searching": false, "bLengthChange": false });
            } else {
                html += '</tbody>';
                html += '</table>';
                html += ' </div>';
                $('.divResult').append(html);
                $('.divResult table').DataTable({ "searching": false, "bLengthChange": false });
            }


            setTimeout(function () {
                PwaManager.PwaWaiting(false);

            }, 1000
            );

        });
    }

    $(document).on('dblclick', '#tblSocialGISC tbody tr', function () {
        $('#socialGISC_incident .post_date').val($(this).find('td').eq(1).text());
        $('#socialGISC_incident .post_by').val($(this).find('td').eq(4).text());
        $('#socialGISC_incident .post_msg').val($(this).find('td').eq(2).text());
        $('#socialGISC_incident .msg_type').val($(this).find('td').eq(3).text());
        $('#socialGISC_incident .post_channel').val($(this).find('td').eq(5).text());
        $('#socialGISC_incident .ww_code').val($(this).find('td').eq(6).attr('data-ww_code'));
        $('#socialGISC_incident .comment_id').val($(this).attr('data-comment_id'));

        $('#socialGISC_incident').submit();
    });

    function searchSocialGISC() {
        //_tbl_socialgisc.fnClearTable();

        //$('#tblSocialGISC').html('');
        $('.divResult_SocialGISC').html('');

        @{
            UserInfoDto currentUser = (UserInfoDto)ViewBag.CurrentUser;
        }

        $.post('@Url.Content("~/Incident/GetSocialGISC")', {
            start: $('#StartDate').val(),
            end: $('#EndDate').val(),
            from: $('#from').val(),
            ww: '@currentUser.Ba',
            tm: (new Date()).getTime()
        }, function (response) {
                var data = response;
                html = '<table class="table table-hover" id="tblSocialGISC" data-animate="fade" data-child="tr">'
                    + '<thead>'
                    + '<tr>'
                    + '<th class="" scope="col">ลำดับ</th>'
                    + '<th class="" scope="col">วันที่โพสต์</th>'
                    + '<th class="" scope="col">ข้อความ</th>'
                    + '<th class="" scope="col" style="width: 132px;">ประเภทความคิดเห็น</th>'
                    + '<th class="" scope="col" style="width: 100px;">ผู้โพสต์</th>'
                    + '<th class="" scope="col">แหล่งข้อมูล</th>'
                    + '<th class="" scope="col" style="width: 110px;">กปภ. สาขา</th>'
                    + '</tr>'
                    + '</thead>'
                    + '<tbody>';

                for (var i = 0; i < data.length; i++) {
                    var tr = '<tr data-comment_id="' + data[i].comment_id + '">'
                        + '<td>' + (i + 1) + '</td>'
                        + '<td>' + data[i].publish_datetime + '</td>'
                        + '<td>' + data[i].message + '</td>'
                        + '<td>' + data[i].category + '</td>'
                        + '<td>' + data[i].display_name + '</td>'
                        + '<td>' + data[i].name + '</td>'
                        + '<td data-ww_code="' + data[i].ww_code + '">' + data[i].brn_name + '</td>'
                        + '</tr>';

                    html += tr;
                }
                html += '</tbody>'
                    + '</table>';

                $('.divResult_SocialGISC').append(html);

                $('.divResult_SocialGISC table').DataTable({
                    "searching": false
                    , "bLengthChange": false
                    , "order": [[0, "asc"]]
                    , "columnDefs": [{ "targets": 1, "type": "date-eu" }],
                });
        });
    }

    function handleOpenSocialGISCPopup() {
        searchSocialGISC();

        @* $("#html_preview").empty(); *@
        $("#Modal_Social_GISC").modal();
        @* $("#html_preview").append(html); *@
    };
</script>