@using System.Data;
@{
    /**/

    /**/

    ViewBag.Title = "รายงานผลการรับฟังและบริหารจัดการข้อร้องเรียนของ กปภ. ระดับเขต (ครส.) ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataTable DataResult = (DataTable)ViewBag.Data;
}


<form id="frmReport" method="post">



    <div class="panel panel-primary panel-line">

        <!-- Contacts Content Header -->
        <div class="panel-heading">
            <h1 class="panel-title">รายงาน  > รายงานผลการรับฟังและบริหารจัดการข้อร้องเรียนของ กปภ. ระดับเขต (ครส.)</h1>
            <div class="page-header-actions">

            </div>
        </div>

        <!-- Contacts Content -->
        <div id="contactsContent" class="panel-body" data-plugin="selectable">

            <!-- Actions -->
            <div class="page-content-actions">
                @Html.Partial("~/Views/Shared/ReportSearchPartial.cshtml")
            </div>


            <!-- Contacts -->
            <div class="table-responsive divTable">
                <table class="table is-indent tblDisplay"
                       id="tblDisplay" name="tblDisplay"
                       data-plugin="animateList">
                    <thead>
                        <tr>
                            <th scope="col" class="cell-100">ลำดับ</th>
                            <th scope="col" class="cell-100">กปภ.ข.</th>
                            <th scope="col" class="cell-100">จำนวนลุกค้า</th>
                            <th scope="col" class="cell-100">จำนวนข้อร้องเรียน (เรื่อง)</th>
                            <th scope="col" class="cell-100">ครั้ง/ผู้ใช้น้ำ 1,000 ราย</th>
                            <th scope="col" class="cell-100">ปิดงานได้ตาม SLA</th>
                            <th scope="col" class="cell-100">ปิดงานได้แต่เกิน SLA</th>
                            <th scope="col" class="cell-100">มีลูกค้าติดตามเร่งรัดข้อขัดเรียนเดิม</th>
                            <th scope="col" class="cell-100">ลูกค้าติดตามเร่งรัด</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (DataResult != null)
                        {
                            foreach (DataRow dr in DataResult.Rows)
                            {
                                <tr>
                                    <td>@dr["ROW_NO"]</td>
                                    <td>@dr["col1"]</td>
                                    <td align="right">@Convert.ToInt32(dr["col2"]).ToString("#,###,##0")</td>
                                    <td align="right">@Convert.ToInt32(dr["col3"]).ToString("#,###,##0")</td>
                                    <td align="right">@Convert.ToDecimal(dr["col4"]).ToString("#,###,##0.00")</td>
                                    <td align="right">@Convert.ToDecimal(dr["col5"]).ToString("#,###,##0.00")</td>
                                    <td align="right">@Convert.ToDecimal(dr["col6"]).ToString("#,###,##0.00")</td>
                                    <td align="right">@Convert.ToInt32(dr["col7"]).ToString("#,###,##0")</td>
                                    <td align="right">@Convert.ToDecimal(dr["col8"]).ToString("#,###,##0.00")</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <script>

        $(document).ready(function () {
            // $("#tblDisplay").DataTable({ "searching": false, "bLengthChange": false });
        });
        $(document).on("click", "#btnSearch", function () {

            $("#ReportType").val('');
            $("#Action").val('search');
            $("#frmReport").submit();

        });

        $(document).on("click", "#btnExportPDF", function () {

            $("#ReportType").val('pdf');
            $("#Action").val('export');
            $("#frmReport").submit();

        });

        $(document).on("click", "#btnExportExcel", function () {
            $("#ReportType").val('excel');
            $("#Action").val('export');
            $("#frmReport").submit();

        });

    </script>
</form>

