@using Pwa.FrameWork.Dao.EF.Smart1662;
@using Pwa.FrameWork.Dto.Smart1662
@using Pwa.FrameWork.Dto;
@model MenuLayoutDto
    @foreach (MenuDto it in Model.Menus)
    {
        bool hasSub = false;
        if (it.SubMenus != null && it.SubMenus.Count>0)
        {
            hasSub = true;
        }
                <li class="site-menu-item@(hasSub ? " has-sub" : " has-sub") ">
            <a href="@(hasSub ? "javascript:void(0);" : Url.Action(it.MvcAction, new { area = it.MvcArea, controller = it.MvcController}))">
                @Html.Raw(it.MenuIcon)
                <span class="site-menu-title">@it.MenuName</span>
                @if (hasSub)
                {
                    <span class="site-menu-arrow"></span>
                }
            </a>
            @if (hasSub)
            {
                <ul class="site-menu-sub" id="@it.MenuId">
                    @foreach (MenuDto sub in it.SubMenus)
                    {
                        bool hasChild = sub.SubMenus != null && sub.SubMenus.Count() > 0;
                        <li class="site-menu-item@(hasChild ? " has-sub" : "")">
                            <a href="@(hasChild ? "javascript:void(0);" : Url.Action(sub.MvcAction, new { area = sub.MvcArea, controller = sub.MvcController}))">
                                <span class="site-menu-title">@sub.MenuName</span>
                                @if (hasChild)
                                {
                                    <span class="site-menu-arrow"></span>
                                }
                            </a>
                            @if (hasChild)
                            {
                                <ul class="site-menu-sub" id="@sub.MenuId">
                                    @foreach (MenuDto child in sub.SubMenus)
                                    {
                                        <li class="site-menu-item">
                                            <a class="animsition-link" href="@Url.Action(child.MvcAction, new { area = child.MvcArea, controller = child.MvcController})">
                                                <span class="site-menu-title">@child.MenuName</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }